extends layout
include ./mixins/userCard

block nav_right
 a.navbar-brand(href="/logout") Logout

block content
  script.
    $(document).ready(function() {
      var searchResultsController = new SearchResultsController();
      searchResultsController.init();
    });

  .container
    .row
      .col-md-12
        h3 Search Results
          a.btn.btn-default.pull-right(href="/search") Revise Search
    .row
      .col-md-6
        .list-group
          each student in students
            a.list-group-item.listed-student
              +userCard(student)
      .col-md-6.fixed
        .panel.panel-default
          .panel-body#featuredStudent
            p click on a student
