extends layout
include ./mixins/userCard

block head
  script(type='text/javascript', src='/js/searchResultsController.js')

block content
  script.
    var searchResultsController = new SearchResultsController();
    $(document).ready(function() {
      searchResultsController.init();
    });

  .container
    .row
      .col-md-4
        h3 Search Results
    .row
      .col-md-6
        .list-group
          each student in students
            .list-group-item.listed-student
              +userCard(student)
      .col-md-6
        .panel.panel-default
          .panel-body
            p click on a student
