extends layout

block head
  script(type='text/javascript', src='/js/indexController.js')
  link(rel='stylesheet', href='/css/index.css')

block content

  script.
    var indexController = new IndexController();
    $(document).ready(function() {
      indexController.init();
    });

  .container
    .indexCont.text-center
      table.g-wordSeparator
        tbody
          tr
            td.lineContainer
              div.wordSeparatorLine
            td.wordContainer
              div.wordTextContainer
                span.wordText 
                  h1 Sign in
            td.lineContainer
              div.wordSeparatorLine
      form.inputContainer(method="POST", action="/login")
        table
          tbody
            tr
              td
                h4 Email
              td
                &nbsp;
              td.inputCol
                input.form-control(name="email", placeholder="email")
        
            tr
              td
                h4 Password
              td
                &nbsp;
              td.inputCol
                input.form-control(name="password", type="password", placeholder="password")
        br
        button.btn.btn-primary.sessionBtn(type="submit") Sign in
      table.g-wordSeparator
        tbody
          tr
            td.lineContainer
              div.wordSeparatorLine
            td.wordContainer
              div.wordTextContainer
                span.wordText 
                  h1 Register
            td.lineContainer
              div.wordSeparatorLine
      div.tabpanel
        ul.nav.nav-tabs.nav-justified
          li(role="presentation" class="active")
            a(href="#studentTab", aria-controls="student", role="tab", data-toggle="tab") Student
          li(role="presentation")
            a(href="#employerTab", aria-controls="employer", role="tab", data-toggle="tab") Employer

        div.tab-content
          div(id="studentTab", class="tabElement" role="tabpanel", class="tab-pane active")
            form.inputContainer(method='POST', action="/signup")
              input(type="hidden", name="type", value="student")
              table
                tbody
                  tr
                    td
                      h4 Name
                    td
                      &nbsp;
                    td.inputCol
                      input.form-control(name="name", placeholder="name")

                  tr
                    td
                      h4 Email
                    td
                      &nbsp;
                    td.inputCol
                      input.form-control(name="email", placeholder="email")
              
                  tr
                    td
                      h4 Password
                    td
                      &nbsp;
                    td.inputCol
                      input.form-control(type="password", placeholder="password")

                  tr
                    td
                      h4 Confirm
                    td
                      &nbsp;
                    td.inputCol
                      input.form-control(name="password", type="password", placeholder="confirm password")

              br
              button.btn.btn-success.sessionBtn(type="submit") Register
          div(id="employerTab", class="tabElement" role="tabpanel", class="tab-pane")
            form.inputContainer(method='POST', action="/signup")
              input(type="hidden", name="type", value="employer")
              table
                tbody
                  tr
                    td
                      h4 Company
                    td
                      &nbsp;
                    td.inputCol
                      input.form-control(name="company", placeholder="company")

                  tr
                    td
                      h4 Name
                    td
                      &nbsp;
                    td.inputCol
                      input.form-control(name="name", placeholder="name")
              
                  tr
                    td
                      h4 Email
                    td
                      &nbsp;
                    td.inputCol
                      input.form-control(name="email", placeholder="email")

                  tr
                    td
                      h4 Password
                    td
                      &nbsp;
                    td.inputCol
                      input.form-control(type="password", placeholder="password")

                  tr
                    td
                      h4 Confirm
                    td
                      &nbsp;
                    td.inputCol
                      input.form-control(name="password", type="password", placeholder="confirm password")

              br
              button.btn.btn-success.sessionBtn(type="submit") Register