extends layout

block content
  h1= title
  p Welcome to #{title}
  #test

  span.label.label-default test

  .container
    .jumbotron.text-center
      h1 Node Authentication
        span.fa.fa-lock
      p Login or Register with:
      a.btn.btn-default(href="/login") Login
        span.fa.fa-user
      a.btn.btn-default(href="/signup") Signup
        span.fa.fa-user
