extends layout

block content
  .container
    .col-sm-offset-0
      h1 Login
        span.fa.fa-sign-in

    if (message.length > 0)
      .alert.alert-danger= message
<<<<<<< HEAD

    form(action="/login", method="post")
=======
    form(action"/login", method="post")
>>>>>>> 43c487e809c3e14b10ec1f7dbb28bd1c68868c98
      .form-group
        label Email
        input.form-control(type="text", name="email")
      .form-group
        label Password
        input.form-control(type="password", name="password")
      button.btn.btn-warning.btn-lg(type="submit") Login

    p Need an account?
      a(href="/signup") Signup
    p Or go
      a(href="/") home

