@import "../../bower_components/bootstrap/less/bootstrap.less";

// overwrite any boostrap colors and stuff here
@brand-primary: #336E7B;

// overwrite boostrap styles
.alert {
  margin: 0px;
}

.modal-dialog{
  position: absolute;
  left: 50%;
  //now you must set a margin left under zero - value is a half width your window
  margin-left: -312px;
  // this same situation is with height - example
  height: 500px;
  top: 50%;
  margin-top: -250px;
}

// custom variables

// custom styles
body {
  background-color: #ECECEC;
  font-family: 'Lato', sans-serif;
  color: @gray;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.createMessageBtn:hover {
  cursor: pointer;
}

.modal-backdrop.in {
  z-index: 1039;
  height: 100%;
}
