// author: Sabrina Drammis
form#employerSignupForm
  .row
    .col-md-6
      input#firstName.form-control(type="text", placeholder="First name")
    .col-md-6
      input#lastName.form-control(type="text", placeholder="Last name")
  .row
    .col-md-12
      input#company.form-control(type="text", placeholder="Company")
  .row
    .col-md-12
      input#email.form-control(type="text", placeholder="Email address")
  .row
    .col-md-12
      input#pass.form-control(type="password", placeholder="Password")
  .row
    .col-md-12
      input#passConfirm.form-control(type="password", placeholder="Confirm password")
  .row
    .col-md-12
      button#submit.btn.btn-primary(type="button") Sign Up
