.row
  .col-md-12
    .alert.alert-danger.alert-dismissible(role="alert")
      #alertMessage alert goes here
.row
  .col-md-12
    .input-group
      span.input-group-addon @
      input#email.form-control(type="text", placeholder="Email")
.row
  .col-md-12
    input#pass.form-control(type="password", placeholder="Password")
.row
  .col-md-12
    button#submit.btn.btn-primary Sign In
