//- Authors: Samuel Edson, Sabrina Drammis
extends layout

block head
  link(rel='stylesheet', href='/css/employerSearchCreation.css')
  script(type="text/javascript", src="//code.jquery.com/ui/1.11.2/jquery-ui.js")

block content

  div.cont

    input(type="hidden", value="#{_csrf}")



block nav_right
  a.navbar-brand(href="/logout") Logout
