extends layout

block head
  link(rel='stylesheet', href='/css/test-style.css')
  script(type="text/javascript", src="/js/indexController.js")

block content
  .container
    // title
    .row
      .col-md-12.text-center
        h3 Employ.ME
    .row
      // information about the site column
      .col-md-6
        .row
          .col-md-12
            h3 Let the perfect company find you
        .row
          .col-md-2
          .col-md-10
            h4 A complete Profile
            h6 The perfect profile for employers to find you
        .row
          .col-md-2
          .col-md-10
            h4 A complete Profile
            h6 The perfect profile for employers to find you
        .row
          .col-md-2
          .col-md-10
            h4 A complete Profile
            h6 The perfect profile for employers to find you
      // login and signup column
      .col-md-6
        // login and sign up buttons
        .row
          .col-md-6.text-center.nopadding
            h3#login Login
              .slide-bar
          .col-md-6.text-center.nopadding
            h3#signup Sign Up
              .slide-bar

        // forms for login and signup
        .row
          div
            .col-md-12#login-signup-form

