// author: Sabrina Drammis
extends layout

block head
  link(rel='stylesheet', href='/css/landing.css')
  script(type="text/javascript", src="/js/indexController.js")

block content
  .container
    .row
      .col-md-12
        h1#title
          strong Employ.ME
    .row
      // information about the site column
      .col-md-5
        .row
          .col-md-2.text-center
            i.fa.fa-user.fa-3x.vert-center
          .col-md-10
            h3 Simple profile
            h5
               | Create a quick and simple profile that
               | highlights your skils, classes, and experience.
        .row
          .col-md-2.text-center
            i.fa.fa-th-list.fa-3x
          .col-md-10
            h3 Find jobs
            h5
              | Find jobs available for areas and skills that interest you.
        .row
          .col-md-2.text-center
            i.fa.fa-sort-amount-desc.fa-3x
          .col-md-10
            h3 Get found
            h5
              | Let employers come to you, when you have the skills they need.

      // for extra space inbetween
      .col-md-1

      // login and signup column
      .col-md-6
        // login and sign up buttons
        .row
          .col-md-6.text-center.nopadding
            h3.selector#login Login
              .slide-bar
          .col-md-6.text-center.nopadding
            h3.selector#signup Sign Up
              .slide-bar
        // forms for login and signup
        .row
          div
            .col-md-12#login-signup-form

