doctype html

// author: Daniel Sanchez, Sabrina Drammis

html
  head
    title= title

    // jQuery
    script(type="text/javascript", src="/js/jquery/jquery-1.11.1.min.js")

    // Bootstrap
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    script(type='text/javascript', src='/js/bootstrap/bootstrap.min.js')

    // Angular
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
    script(type="text/javascript", src="/js/angularApp.js")

    // Font awesome
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")

    // Main css
    link(rel='stylesheet', href='/css/style.css')

    // Font
    link(href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext", rel='stylesheet', type="text/css")

    // Other styles
    block head

  body(data-ng-app="employMeApp", data-ng-controller="employMeAppController")
    block content
    // navigation bar at top of all pages
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      // left title
      .navbar-header
        a.navbar-brand(href="/") Employ.Me
      div.pull-right
        a.navbar-brand(href="#", style="padding-left: 0px;")
          i.fa.fa-inbox
        a.navbar-brand(href='#', style="padding-left: 0px;")
          i.fa.fa-user
        a.navbar-brand(href='/logout', style="padding-left: 0px;")
          i.fa.fa-sign-out
