// TODO finish this view
// author: Samuel Edson

extends layout

block nav_right
  a.navbar-brand(href="/logout") Logout

block content
  .container
    h4 #{user.name}'s Profile
    .row
      h4 Skills
      .col-md-8
        each skill in skills
          label()= skill.name
          br
      h4 Classes
      .col-md-8
        each klass in classes
          label()= klass.name
          br
      h4 Job Interests
      .col-md-8
        each job in user.jobInterests
          label()= job
          br
