// TODO finish this view
// author: Daniel Sanchez

extends layout

block head
  link(rel="stylesheet", href="/css/profile.css")
  script(type="text/javascript", src="//code.jquery.com/ui/1.11.2/jquery-ui.js")
  script(type="text/javascript", src="/js/profileController.js")
  link(rel="stylesheet", href="/css/select2/select2.css")
  script(type="text/javascript", src="/js/select2/select2.js")

block content
  div.profileContainer(data-ng-controller="profileController")
    - if (user.__t == "Student") {
      input#userType(type="hidden", value="student")
      input#studId(type="hidden", value="#{user._id}")
      table
        tbody
          tr
            td.mainCol
              div.leftColCont
                div.colCont
                  legend
                    h2 Summary
                  textarea.form-control#summaryInput(placeholder="Write your summary here")
                  div.summaryStatus(ng-if="viewModel.savingSummary") Saving...
                  div.summaryStatus(ng-if="!viewModel.savingSummary") Saved!
                  legend
                    h2 Skills
                  div.skillsContainer
                    div.skill.draggedSkill(ng-repeat="(id, name) in viewModel.studentSkills")
                      span.label.label-default(id="{{id}}", ng-bind="name")
                    
                  legend
                    h2 Experience
                  div.experienceContainer
                    div.createExperience
                      form#experienceForm
                        table
                          tbody
                            tr
                              td
                                div.colContent
                                  input.form-control(name="company", placeholder="Company")
                              td
                                div.colContent
                                  input.form-control(name="position", placeholder="Job position")

                        input(type="hidden", name="startTime", value="null")
                        input(type="hidden", name="endTime", value="null")

                        table
                          tbody
                            tr
                              td(width="100%")
                                div.colContent
                                  textarea.form-control(name="description", placeholder="Describe your experience")
                              td
                                div.colContent
                                  input.btn.btn-success(type="submit", value="Create new experience")
                    form.experience(ng-repeat="experience in viewModel.experiences")
                      input(type="hidden", name="experienceId", value="{{experience._id}}")
                      table
                        tbody
                          tr
                            td(width="50%")
                              div.colContent
                                span
                                  b Company
                                input.form-control(name="company", placeholder="Company", value="{{experience.company}}")
                            td(width="50%")
                              div.colContent
                                span
                                  b Position
                                input.form-control(name="position", placeholder="Job position", value="{{experience.position}}")
                            td
                              div.colContent
                                button.deleteExperience.btn.btn-danger
                                  &times;

                      input(type="hidden", name="startTime", value="null")
                      input(type="hidden", name="endTime", value="null")

                      table
                        tbody
                          tr
                            td(width="100%")
                              div.colContent
                                span
                                  b Description
                                textarea.form-control(name="description", placeholder="Describe your experience", ng-bind="experience.description")
                            td
                              div.colContent
                                input.btn.btn-primary(type="submit", value="Update")

                  legend
                    h2 Classes
                  div.classesContainer
                    div.class.draggedSkill(ng-repeat="(id, name) in viewModel.studentClasses")
                      span.label.label-primary(id="{{id}}") {{id}}: {{name}}

            td.mainCol(width="350px")
              div.rightColCont
                div.colCont
                  table
                    tbody
                      tr(height="0")
                        td
                          h3 Skills
                          input.form-control.searchInput(ng-model="skillsQuery" placeholder="Search for skills")
                      tr
                        td
                          div.rightColSectionCont
                            div#skillsCont.rightColSection
                              div.skill(ng-repeat="skill in viewModel.skills | filter:skillsQuery")
                                span.label.label-default(ng-if="viewModel.studentSkills[skill._id] === undefined" id="{{skill._id}}", ng-bind="skill.name")
                      tr(height="0")
                        td
                          h3 Classes
                          input.form-control.searchInput(ng-model="classQuery" placeholder="Search for classes")
                      tr
                        td
                          div.rightColSectionCont
                            div#classesCont.rightColSection
                              div.class(ng-repeat="class in viewModel.klasses | filter:classQuery")
                                span.label.label-primary(ng-if="viewModel.studentClasses[class._id] === undefined" id="{{class._id}}"){{class._id}}: {{class.name}}

    - } else if (user.__t == "Employer") {
      input#userType(type="hidden", value="employer")
      input#empId(type="hidden", value="#{user._id}")
      table
        tbody
          tr
            td.mainCol
              div.leftColCont
                div.colCont
                  legend
                    h2 Listings
                  form#listingForm
                    div.listingContainer
                      table
                        tbody
                          tr
                            td
                              div.colContent
                                input.form-control(name="title", placeholder="Title")
                            td
                              div.colContent
                                input.form-control(name="position", placeholder="Position Name")
                            td
                              div.colContent
                                input.form-control(name="location", placeholder="Location")
                      table
                        tbody
                          tr
                            td(width="100%")
                              div.colContent
                                textarea.listingDescriptionInput.form-control(name="description", placeholder="Description")
                            td
                              div.colContent(style="width: 180px") Click skills on the right to add them to the listing
                      div.skillsContainer.droppable
                        div(style="text-align: center")
                          h3 Drag skills here
                        div.skill.draggedSkill(ng-repeat="(id, name) in viewModel.listingSkills")
                          span.label.label-default(id="{{id}}"){{name}}  &#10006;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    input.btn.btn-success(type="submit", value="Create Listing")
                  br
                  div.listingsContainer
                    form.listing(ng-repeat="(id, listing) in viewModel.listings")
                      input(type="hidden", name="listingId", value="{{id}}")
                      table
                        tbody
                          tr
                            td(width="33%")
                              div.colContent
                                span
                                  b Title
                                input.form-control(name="title", placeholder="Title", value="{{listing.title}}")
                            td(width="33%")
                              div.colContent
                                span
                                  b Position
                                input.form-control(name="position", placeholder="Job position", value="{{listing.position}}")
                            td(width="33%")
                              div.colContent
                                span
                                  b Location
                                input.form-control(name="location", placeholder="Location", value="{{listing.location}}")
                            td
                              div.colContent
                                button.deleteListing.btn.btn-danger
                                  &times;
                      table
                        tbody
                          tr
                            td(width="100%")
                              div.colContent
                                span
                                  b Description
                                textarea.form-control(name="description", placeholder="Describe your listing", ng-bind="listing.description")
                      div
                        div
                          b Skills
                        div.droppable.skillsDrop(data-listing-id="{{listing._id}}")
                          div(style="text-align: center")
                            h3 Drag skills here
                          div.skill.draggedSkill(ng-repeat="skill in listing.skills", data-skill-name="{{skill}}", data-listing-id="{{listing._id}}")
                            span.label.label-default {{skill}}  &#10006;
                      div
                        input.btn.btn-primary(type="submit", value="Update")

            td.mainCol(width="350px")
              div.rightColCont
                div.colCont
                  table
                    tbody
                      tr(height="0")
                        td
                          h3 Skills
                          input.form-control.searchInput(ng-model="skillsQuery" placeholder="Search for skills")
                      tr
                        td
                          div.rightColSectionCont
                            div#skillsCont.rightColSection
                              div.skill.draggable(ng-repeat="skill in viewModel.skills | filter:skillsQuery")
                                span.label.label-default(ng-if="viewModel.studentSkills[skill._id] === undefined" id="{{skill._id}}", ng-bind="skill.name")
    - }
