// TODO finish this view
// author: Samuel Edson

extends layout

block content
  h3 profile here
//  .container
//    h4 #{user.name}'s Profile
//    .row
//      h4 Skills
//      .col-md-8
//        each skill in user.skills
//          label()= skill.name
//          br
//      h4 Classes
//      .col-md-8
//        each klass in user.classes
//          label()= klass.name
//          br
