//- Authors: Daniel Sanchez, Samuel Edson, Sabrina Drammis
extends layout

block head
  link(rel='stylesheet', href='/css/search.css')
  script(type="text/javascript", src="//code.jquery.com/ui/1.11.2/jquery-ui.js")
  script(type="text/javascript", src="/js/searchCreationController.js")
  script(type="text/javascript", src="/js/searchResultsController.js")

block content
  div.cont(data-ng-controller="searchCreationController")
    input#csrf(type="hidden", value="#{_csrf}")
    table
      tbody
        tr
          td(width='350px')
            .leftColCont
              .refine-search-title
                h4
                  strong REFINE SEARCH
              .colCont.searchSkillsCont
                table
                  tbody
                    tr(height="0")
                      td
                        input.form-control.skillsSearchInput(ng-model="query", placeholder="skills")
                    tr(height="33%")
                      td
                        div.leftColSectionCont.skills
                          div#skillsCont.leftColSection
                            div.skill(ng-repeat="skill in viewModel.skills | filter:query")
                              span.draggable.label.label-default(id="{{skill._id}}", ng-bind="skill.name")
                    tr(height="33%")
                      td
                        .leftColSectionCont
                          .dragInstructionTextDiv
                            h5 REQUIRED
                          div.leftColSection.skillsDrop.requiredSkillsDrop
                    tr(height="33%")
                      td
                        .leftColSectionCont
                          .dragInstructionTextDiv
                            h5 DESIRED
                          .leftColSection.skillsDrop.desiredSkillsDrop


          td
            div.rightColCont
              div.colCont(style='text-align: left')
                - if (user.__t === 'Student') {
                  input#userType(type="hidden", value="Student")
                  h3 Employer Listings
                - } else {
                  input#userType(type="hidden", value="Employer")
                  h3 Students
                - }
                #results

