//- Authors: Daniel Sanchez, Samuel Edson, Sabrina Drammis
extends layout

block head
  link(rel='stylesheet', href='/css/employerSearchCreation.css')
  script(type="text/javascript", src="//code.jquery.com/ui/1.11.2/jquery-ui.js")
  script(type="text/javascript", src="/js/searchController.js")

block content
  div.cont(data-ng-controller="searchCreationController")
    input#csrf(type="hidden", value="#{_csrf}")
    table
      tbody
        tr
          td(width='350px')
            div.leftColCont
              div.colCont
                table
                  tbody
                    tr(height="0")
                      td
                        h3 Search by Skills
                        input.form-control.skillsSearchInput(ng-model="query", placeholder="Search for skills")
                    tr
                      td
                        div.leftColSectionCont
                          div#skillsCont.leftColSection
                            div.skill(ng-repeat="skill in viewModel.skills | filter:query")
                              span.draggable.label.label-default(id="{{skill._id}}", ng-bind="skill.name")
                    tr
                      td
                        div.leftColSectionCont
                          div.leftColSection.skillsDrop.requiredSkillsDrop
                            div.dragInstructionTextDiv
                              h3 Drag required skills here
                    tr
                      td
                        div.leftColSectionCont
                          div.leftColSection.skillsDrop.desiredSkillsDrop
                            div.dragInstructionTextDiv
                              h3 Drag desired skills here
                    tr(height="0")
                      td
                        - if (user.__t == "Student") {
                          button#skillSubmit.btn.btn-success(data-type="Student") Submit
                        - } else if (user.__t == "Employer") {
                          button#skillSubmit.btn.btn-success(data-type="Employer") Submit
                        - }


          td
            div.rightColCont
              div.colCont
                h3 Results
                div.searchResult.g-shadow(ng-repeat="result in viewModel.searchResults")
                  input#id(type="hidden", ng-bind="result._id")
                  input#type(type="hidden", ng-bind="result.__t")
                  table
                    tbody
                      tr
                        td(width="50%")
                          div.infoContainer
                            h4.resultHeader(ng-bind="result.name")
                            div.resultBasicInfo
                              div(ng-bind="result.email")
                        td(width="50%")
                          div.infoContainer
                            h4.resultHeader Skills:
                            div.resultSkills
                              div.skill.draggedSkill(ng-repeat="skill in result.skills")
                                span.label.label-default(ng-bind="viewModel.skillsMap[skill]")

block nav_right
  a.navbar-brand(href="/logout") Logout
