//- Authors: Daniel Sanchez, Samuel Edson, Sabrina Drammis
extends layout

block head
  link(rel='stylesheet', href='/css/employerSearchCreation.css')
  script(type="text/javascript", src="/js/employerSearchCreationController.js")
  script(type="text/javascript", src="//code.jquery.com/ui/1.11.2/jquery-ui.js")

block content


  div.cont
    // form(name="search", action="/students/search", method="post")
    //   .row
    //     h2 Search For a Student
    //   .row
    //     h4 Required
    //     .col-md-8
    //       each skill in skills
    //         .checkbox
    //           input(type="checkbox", name="requiredSkills[]", value="#{skill._id}")
    //           label(for="checkbox1")= skill.name
    //   .row
    //     h4 Desired
    //     .col-md-8
    //       each skill in skills
    //         .checkbox
    //           input(type="checkbox", name="desiredSkills[]", value="#{skill._id}")
    //           label(for="checkbox1")= skill.name
    //   .row
    //     input.btn.btn-primary(type="submit", value="Search")

    table
      tbody
        tr
          td.mainCol(width='400px')
            table
              tbody
                tr
                  td
                    h3 Skills
                tr
                  td(height='100%')
                    div.skillsCol
                      each skill in skills
                        div.skill
                          span.draggable.label.label-default(id="#{skill._id}")= skill.name
          td.mainCol.rightCol
            table
              tbody
                tr(height='0')
                  td
                    h4 Required skills
                tr
                  td
                    div.skillsDrop.requiredSkillsDrop
                tr(height='0')
                  td
                    h4 Desired skills
                tr
                  td
                    div.skillsDrop.desiredSkillsDrop
                tr(height='0')
                  td
                    button#skillSubmit.btn.btn-success Submit


block nav_right
 a.navbar-brand(href="/logout") Logout
