doctype html


html
  head
    title Tests
    link(rel='stylesheet', href='//code.jquery.com/qunit/qunit-1.15.0.css')

  body
    #qunit
    #qunit-fixture
    script(type="text/javascript", src="/js/jquery/jquery-1.11.1.min.js")
    script(src="//code.jquery.com/qunit/qunit-1.15.0.js")
    script(src="/js/tests/studentsTests.js")
