li.h3
{
	clear:both;
	float:left;
	
	width: 100px;
}

ul {
	margin-left: 75px;
	width: 110px;
}
.message {
	border: 1px solid;
}

.row.top{

	margin-top: 100px;
}

.bullshit:hover {
	border-left: 1px solid;
}

.selected{
	border-left: 1px solid;
}

#delete {
	float:right;
}