html, body {
  height: 100%
}

body {
  padding: 50px 0 0 0;
}

.profileContainer {
  height: 100%;
}

table {
  width: 100%;
  height: 100%;

  .colContent {
    padding: 10px;
  }
}

.mainCol {
  vertical-align: top;
  padding: 10px;
}

textarea {
  resize: vertical;
}

#summaryInput {
  width: 100%;
  min-height: 120px;
  height: auto;
  border: 1px solid white;
  box-shadow: none;
}

#summaryInput:hover {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.summaryStatus {
  text-align: center;
  margin-top: 5px;
}

.dateInput {
  width: 100px;
  display: inline-block;
}

.skill, .class {
  font-size: 22px;
  margin: 5px;
  cursor: pointer;
}

.draggedSkill {
  display: inline-block;
}

.rightColSection.skillsDrop {
  text-align: center;
  color: #ccc;
}

.experience {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  input, textarea {
    border: 1px solid white;
    box-shadow: none;
  }

  input:hover, textarea:hover {
    border: 1px solid #ccc;
  }
}

.colCont {
  height: 100%;
}

.rightColCont, .leftColCont {
  height: 100%;
  overflow: auto;
}

.rightColSectionCont {
  overflow: auto;
  height: 100%;
  padding: 5px;
}

.rightColSection {
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
  text-align: left;
}

.searchInput {
  border-radius: 40px;
}