html, body {
  padding: 0;
  height: 100%;
}

table {
  width: 100%;
  height: 100%;
}

.label {
  margin: 2px;
  display: inline-block;
}

.cont {
  height: 100%;
  padding-top: 50px;
}

.colCont {
  padding: 15px;
  height: 100%;
}

.searchSkillsCont {
  height: calc(100% - 50px);
}

.leftColCont {
  background-color: #333;
  height: 100%;
  overflow: auto;
}

.leftColSectionCont {
  height: 100%;
  padding: 5px 0px;
}

.skills {
  overflow: auto;
}

.leftColSection {
  overflow: auto;
  background-color: #222;
  border-radius: 5px;
  height: 100%;
  text-align: left;
  padding: 10px;
}

.skillsSearchInput {
}

.refine-search-title {
  background-color: #222;
  padding: 0px;
  height: 50px;
  text-align: center;
}

.refine-search-title h4 {
  padding-top: 17px;
  margin: 0px;
  color: #CCC;
}

.rightColCont {
  height: 100%;
  border-left: 1px solid #aaa;
  overflow: auto;
}

.skill {
  font-size: 18px;
  margin: 0 0 5px 5px;
  cursor: pointer;
}

.draggedSkill {
  display: inline-block;
}

.skill .draggable {
  cursor: move;
}

.dragInstructionTextDiv h5 {
  padding: 0px;
  color: #bbb;
}

.searchResult {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}

.resultHeader {
  margin-bottom: 6px;
}

.infoContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
}

.skillsDrop {
  height: 80%;
}

.contactInfo {
  padding: 2px 10px;
  background-color: #DDD;
}

