html, body {
  padding: 0;
  height: 100%;
}

table {
  width: 100%;
  height: 100%;
}

.cont {
  height: 100%;
  padding-top: 50px;
}

.colCont {
  padding: 10px;
  height: 100%;
  text-align: center;
}

.leftColCont {
  background-color: #333;
  height: 100%;
  overflow: auto;
}

.leftColSectionCont {
  overflow: auto;
  height: 100%;
  padding: 5px;
}

.leftColSection {
  overflow: auto;
  background-color: #222;
  border-radius: 5px;
  height: 100%;
  text-align: left;
}

.skillsSearchInput {
  border-radius: 40px;
}

.rightColCont {
  height: 100%;
  border-left: 1px solid #aaa;
  overflow: auto;
}

.skill {
  font-size: 18px;
  margin: 0 0 5px 5px;
  cursor: pointer;
}

.draggedSkill {
  display: inline-block;
}

.skill .draggable {
  cursor: move;
}

.dragInstructionTextDiv {
  text-align: center;
  color: #bbb;
}

.searchResult {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}

.resultHeader {
  margin-bottom: 6px;
}

.infoContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
}

/*.mainCol {
  padding: 0 10px;
}

.mainCol.rightCol {
  border-left: 1px solid #aaa;
}

.skillsCol {
  height: 100%;
  overflow: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.draggable {
  cursor: move;
}

.skillsDrop {
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 100%;
  background-color: #eee;
  padding: 10px;
}

#skillSubmit {
  float: right;
}*/
