
/*  new signup/login styles */
hr {
  display: block;
  height 5px;
  border: 0;
  border-top: 1px solid #00ff00;
  margin: 1em 0px;
  padding: 0px;
}

i {
  padding-top: 30px;
}

#title {
color: white;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

#signup .slide-bar,
#login .slide-bar {
  width: 100%;
  height: 2px;
  transition: height ease-in 0.25s;
  background-color: #446CB3;
}

.row {
  padding-bottom: 20px;
}

#signup:hover .slide-bar,
#login:hover .slide-bar {
  height: 10px;
  transition: height ease-out 0.5s;
}

.slide-bar{
  margin-top: 10px;
}

.selector:hover {
  cursor: pointer;
}

.selected-text {
  color: #446CB3;
}

.unselected-text {
background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.7) 0px 3px 3px;
}

.selected {
  height: 10px !important;
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

body {
  background-color: #ECECEC;
  font-family: 'Lato', sans-serif;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
