.row
  .col-md-6
    input.form-control(type="text", class="form-control", placeholder="First name")
  .col-md-6
    input.form-control(type="text", class="form-control", placeholder="Last name")
.row
  .col-md-12
    input.form-control(type="text", class="form-control", placeholder="Company")
.row
  .col-md-12
    input.form-control(type="text", class="form-control", placeholder="Email address")
.row
  .col-md-12
    input.form-control(type="password", class="form-control", placeholder="Password")
.row
  .col-md-12
    input.form-control(type="password", class="form-control", placeholder="Confirm password")
