script.
  var signupController = new SignupController();
  $(document).ready(function() {
    signupController.init();
  });

.row
  .col-md-6.text-center#student-tab
    h4 Student
  .col-md-6.text-center#employer-tab
    h4 Employer
.row#signup-form-contents
