.row
  .col-md-6.text-center#student-tab
    h4 Student
  .col-md-6.text-center#employer-tab
    h4 Employer
.row
  .col-md-12
    .alert.alert-danger.alert-dismissible(role="alert")
      #alertMessage alert goes here
.row#signup-form-contents
