include ../experience

mixin student(student)
  .panel.panel-default.student
    .panel-body
      #id(style="display:none")= student._id
      .row
        .col-md-6
          h4
            strong= student.name
          h5= student.email
          h6 summary of my life goes here yay
        .col-md-6
          h3
            strong Skills
          for skill in student.skills
            span.label.label-default skill
      .row.rest(style='display: none;')
        .col-md-12
          h3
            strong Experiences
              +experience()
