mixin student(student)
  .panel.panel-default
    .panel-body
      #id(style="display:none")= student._id
      .col-md-6
        h4= student.name
        h4= student.email
        h4 website here
        p summary goes here
      .col-md-6
        for skill in student.skills
          span.label.label-default(ng-bind="viewModel.skillsMap[skill]")
